---
layout: default
---
<div class="home">
  
  {{ content }}

  <h1 class="page_heading">Featured Projects</h1>
  
  <ul class="featured_projects">  
    
    {% for project in site.portfolio %}
    {% if project.featured %}
        
    <div class="project">
    
      {% capture project_image %}
      <div class="project_image">
        <a href="{{ project.url | prepend: site.baseurl }}">
          
          <div class="image_hover">
            <img src="{{ project.image }}" alt="{{ project.title }}" class="image">
            <div class="overlay">
              <div class="text"><h2>{{ project.title }}</h2></div>
            </div>
          </div>
        </a>
      </div>
      {% endcapture %}
      
      {% capture project_text %}
      <div class="project_text">
        <a href="{{ project.url | prepend: site.baseurl }}">
        <h2>{{ project.title }}</h2>
        </a>
        {{ project.abstract }}
      </div>
      {% endcapture %}
      
      
      
      {% capture project_cycle %}{% cycle 'left', 'right' %}{% endcapture %}
      {% if project_cycle == 'left' %}
        {{ project_image }}
        {{ project_text }}
      {% else %}
        {{ project_text }}
        {{ project_image }}
      {% endif %}
        
    </div>
      
    <br>
    {% endif %}
    {% endfor %}
  </ul>
  
  </div>

</div>
